{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <div class="infoWrapper d-flex flex-row">
        <img src="{{infos.getAvatar()}}" alt="Avatar">
        <h2>{{infos.getUsername()}}</h2>        
    </div>
    {% if infos.getDescription != null %}
        <p>{{infos.getDescription()}}</p>
        {% else %}
            <p>No description available</p>
    {% endif %}
    {% if user.id == app.user.id or (is_granted('ROLE_ADMIN'))%}
        <a href="{{path("app_update", {'id':infos.User.id})}}"<button type="button" class="btn btn-outline-info">Edit Account</button></a>
        <a href="{{path('app_delete', {'id': user.id})}}" class="btn btn-danger text-center" onclick="return confirm('Are you sure you wish to delete your account?')">Delete Account</a>
    {% endif %}

    {% if is_granted("ROLE_TEACHER") %}
        <p class="m-3">Here are the lessons you are currently running, press the "View Lesson" button to edit a lesson.</p>
        {% for lesson in user.getLessons %}
            {{include('lessonCard/_lessonCard.html.twig', {lesson:lesson})}}
        {% endfor %}
    {% endif %}
    {% if user.id == app.user.id %}
        <p class="m-3">Here are the lessons you have currently pinned: </p>
        {% else %}
            <p class="m-3">Here are the lessons this user currently has pinned: </p>
    {% endif %}
    {% for studentLesson in user.getStudentsLessons %}
        {{include('lessonCard/_lessonCard.html.twig', {lesson:studentLesson})}}
    {% endfor %}
{% endblock %}
