{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <div class="infoWrapper d-flex flex-row">
            <img src="{{infos.getAvatar()}}" alt="Avatar">
            <h2>{{infos.getUsername()}}</h2>
    </div>
    {% if user.id == app.user.id or (is_granted('ROLE_ADMIN'))%}
        <a href="{{path("app_update", {'id':infos.User.id})}}"<button type="button" class="btn btn-outline-info">Edit Account</button></a>
        <a href="{{path('app_delete', {'id': user.id})}}" class="btn btn-danger text-center" onclick="return confirm('Are you sure you wish to delete your account?')">Delete Account</a>
    {% endif %}

    {% if is_granted("ROLE_TEACHER") %}
    <p class="mt-3">Here are the lessons you are currently running, press the "View Lesson" button to edit a lesson.</p>
        {% for lesson in user.getLessons()%}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h4 class="card-title">{{lesson.getTitle()}}</h5>
                    <p class="card-text"> {{lesson.getDescription()}}</p>
                    <p class="card-text"> {{lesson.getAvailableDates()}}</p>
                    <a href="{{path('app_lessonPage', {'id': lesson.getId})}}">
                        <button type="button" class="btn btn-primary">View Lesson</button>
                    </a>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <p class="mt-3">Here are the lessons you are currently participating in: </p>
    {% for studentLesson in user.getStudentsLessons %}
        <div class="card" style="width: 18rem;">
                <div class="card-body">
                <h4 class="card-title">{{studentLesson.getTitle()}}</h5>
                <p class="card-text"> {{studentLesson.getDescription()}}</p>
                <p class="card-text"> {{studentLesson.getAvailableDates()}}</p>
                <a href="{{path('app_lessonPage', {'id': studentLesson.getId})}}">
                    <button type="button" class="btn btn-primary">View Lesson</button>
                </a>
            </div>
        </div>
    {% endfor %}
{% endblock %}
