{% extends 'base.html.twig' %}

{% block title %}Update{% endblock %}

{% block body %}
    <div class="bg-container">
        <h1>Update</h1>
        <h3>(Leave a field empty to not update it)</h3>
        <div class="form-control">
            {{ form_start(updateForm) }}
                <div class="form-ctrl">
                    {{ form_label(updateForm.email) }}
                    {{ form_widget(updateForm.email, {'attr': {'class': 'logRegInputBar'}}) }}
                </div>
                <div class="form-ctrl">
                    {{ form_label(updateForm.password) }}
                    {{ form_widget(updateForm.password, {'attr': {'class': 'logRegInputBar'}}) }}
                </div>
                <div class="form-ctrl">
                    {{ form_label(updateForm.avatar) }}
                    {{ form_widget(updateForm.avatar, {'attr': {'class': 'logRegInputBar'}}) }}
                </div>
                <div class="form-ctrl">
                    {{ form_label(updateForm.username) }}
                    {{ form_widget(updateForm.username, {'attr': {'class': 'logRegInputBar'}}) }}
                </div>
                <div class="form-ctrl">
                    {{ form_label(updateForm.description) }}
                    {{ form_widget(updateForm.description, {'attr': {'class': 'logRegInputBar'}}) }}
                </div>

                <button class="btn btn-primary w-100" type="submit">
                        Update
                </button>
            {{ form_end(updateForm) }}
        </div>
    </div>
{% endblock %}
