{% extends 'base.html.twig' %}

{% block title %}Store{% endblock %}

{% block body %}
    <h1 class="text-center">Store</h1>
    <ul class="pagination">
        <li>Display per page:</li>
        <li class="page-item"><a class="page-link" href={{path("app_store")}}>Unlimited</a></li>
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">8</a>
        </li>
    </ul>
    <div class="row">
        {% for game in games|slice(page*8,8) %}
            <div class="col-sm-12 col-md-12 col-lg-4 col-xl-3">
                <a href={{path("app_storePage", {'id':game.id})}} style="text-decoration: none;">
                    <div class="card mb-3 containers">
                        <h4 class="card-title text-center">{{game.name}}</h4>
                        <div class="thumbnail">
                            <div class="image">
                                <img style=" max-width: 90%; display: block;" src="{{game.cover}}" class=" mx-auto my-3" alt="Game cover">
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    <nav aria-label="Page navigation example">
    <ul class="pagination">
    {% if page == 0 %}
        <li class="page-item disabled">
      <span class="page-link">Previous</span>
        </li>
        {% else %}
            <li class="page-item"><a class="page-link" href={{path("app_storePaginated", {'id':page-1})}}>Previous</a></li>
    {% endif %}
    {% for i in range(0,nbPages) %}
        {% if i == page %}
            <li class="page-item active">
                <a class="page-link" href={{path("app_storePaginated", {'id':i})}}> <span class="sr-only">{{i+1}}</span></a>
            </li>
            {% else %}
                <li class="page-item"><a class="page-link" href={{path("app_storePaginated", {'id':i})}}>{{i+1}}</a></li>            
        {% endif %}
    {% endfor %}
    {% if page == nbPages %}
        <li class="page-item disabled">
            <span class="page-link">Next</span>
        </li>
        {% else %}
            <li class="page-item"><a class="page-link" href={{path("app_storePaginated", {'id':page+1})}}>Next</a></li>
    {% endif %}
        
    </ul>
    </nav>
{% endblock %}
