{% extends 'base.html.twig' %}

{% block title %}{{lesson.getTitle()}}{% endblock %}

{% block body %}

    {% if is_granted("ROLE_TEACHER")%}
        {% if currentUser == lesson.getTeacherId() %}
          <h3>You are the owner of this lesson.</h3>
        {% endif %}
    {% endif %}

    <div class="row d-flex justify-content-center">
        <div class="w-75 p-3">
            <div class="pb-2">
                <h1>{{lesson.getTitle()}}</h1>
            </div>
            <div class="p-3 border">
                <div class="pb-2">
                    <span class="badge text-bg-primary">{{lesson.getCategory()}}</span>
                </div>
                <div class="pb-2">
                    <span>Description: </span>
                    {% if lesson.getDescription is not null %}
                        {{lesson.getDescription()}}
                        {% else %}
                            <span>No description was provided.</span>
                    {% endif %}
                </div>
                <div class="pb-2">
                    <span>Available dates: </span> 
                    {% if lesson.getAvailableDates is not null %}
                        {{lesson.getAvailableDates()}}
                        {% else %}
                            <span>No specific date information was provided.</span>
                    {% endif %}
                </div>
                <div class="pb-2">
                    <span>Contact information: </span> 
                    {% if lesson.getContactInformation is not null %}
                        {{lesson.getContactInformation()}}
                        {% else %}
                            <span>No specific contact information was provided.</span>
                    {% endif %}
                </div>

                {% if is_granted("ROLE_ADMIN") or (currentUser == lesson.getTeacherId()) %}
                    <a href="{{path('app_updateLesson', {'id':lesson.getId})}}">
                        <button type="button" class="btn btn-warning w-20"> Update/Modify Lesson </button>
                    </a>
                {% endif %}
                {% if lesson.getLessonsStudents().contains(currentUser) %}
                    <p class="pt-3">You have already pinned this lesson, would you like to unpin it?</p>
                    <a href="{{path('app_removeStudentfromLesson', {'id':lesson.getId})}}">
                        <button type="button" class="btn btn-danger w-20"> Unpin Lesson </button>
                    </a>
                {% else %}
                    <a href="{{path('app_addStudenttoLesson', {'id': lesson.getId})}}">
                        <button type="button" class="btn btn-primary w-20"> Pin Lesson </button>
                    </a>
            {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
