{% extends 'base.html.twig' %}

{% block title %}List of lessons{% endblock %}

{% block body %}
    {% if is_granted("ROLE_TEACHER")%}
            <br>
            <a href="{{path('app_newLesson')}}"<button type="button" class=" nlessonbtn">Create a new lesson</button></a>
    {% endif %}
    <ul class="pagination p-2">
        <li class="pt-1">Display per page:</li>
        <li class="page-item disabled"><a class="page-link" href="#">Unlimited</a></li>
        <li class="page-item">
            <a class="page-link" href="{{path('app_lessonsPaginated', {'displayPerPage':5, 'page':0})}}" tabindex="-1">5</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="{{path('app_lessonsPaginated', {'displayPerPage':10, 'page':0})}}" tabindex="-1">10</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="{{path('app_lessonsPaginated', {'displayPerPage':25, 'page':0})}}" tabindex="-1">25</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="{{path('app_lessonsPaginated', {'displayPerPage':50, 'page':0})}}" tabindex="-1">50</a>
        </li>
    </ul>
    <h1>Here is a list of all currently available lessons:</h1>
    {% for lesson in lessons %}
        {{include('lessonCard/_lessonCard.html.twig', {lesson:lesson})}}
    {% endfor %}
{% endblock %}
