{% extends 'base.html.twig' %}

{% block title %}{{lesson.getTitle()}}{% endblock %}

{% block body %}

    {% if is_granted("ROLE_TEACHER")%} {# If the user is a tutor, they will be reminded whether or not they are the one who created the lesson #}
        {% if currentUser == lesson.getTeacherId() %}
          <h3>You are the owner of this lesson.</h3>
        {% endif %}
    {% endif %}

    <div class="row d-flex justify-content-center">
        <div class="w-75 p-3">
            <div class="pb-2">
                <h1>{{lesson.getTitle()}}</h1>
            </div>
            <div class="p-3 border">
                <div class="pb-2">
                    <span class="badge text-bg-primary">{{lesson.getCategory()}}</span>
                </div>
                <div class="pb-2">
                    <p class="lessonPageGuides">Description: </p>
                    {% if lesson.getDescription is not null %}
                        {{lesson.getDescription()}}
                        {% else %}
                            <p>No description was provided.</p>
                    {% endif %}
                </div>
                <div class="pb-2">
                    <p class="lessonPageGuides">Available dates: </p> 
                    {% if lesson.getAvailableDates is not null %}
                        {{lesson.getAvailableDates()}}
                        {% else %}
                            <p>No specific date information was provided.</p>
                    {% endif %}
                </div>
                <div class="pb-2">
                    <p class="lessonPageGuides">Contact information: </p> 
                    {% if lesson.getContactInformation is not null %}
                        {{lesson.getContactInformation()}}
                        {% else %}
                            <p>No specific contact information was provided.</p>
                    {% endif %}
                </div>

                {% if is_granted("ROLE_ADMIN") or (currentUser == lesson.getTeacherId()) %}
                    <a href="{{path('app_updateLesson', {'id':lesson.getId})}}">
                        <button type="button" class="btn btn-warning w-20"> Update/Modify Lesson </button>
                    </a>
                {% endif %}

                <div class="lessonPin"> {# By clicking the available button, the user can choose to pin/unpin the lesson to more easily find it in their profile #}
                    {% if lesson.getLessonsStudents().contains(currentUser) %}
                        <p class="pt-3">You have already pinned this lesson, would you like to unpin it?</p>
                        <a href="{{path('app_removeStudentfromLesson', {'id':lesson.getId})}}">
                            <button type="button" class="btn btn-danger w-20"> Unpin Lesson </button>
                        </a>
                    {% else %}
                        <a href="{{path('app_addStudenttoLesson', {'id': lesson.getId})}}">
                            <button type="button" class="btn btn-primary w-20"> Pin Lesson </button>
                        </a>
                    {% endif %}
                </div>
                
            </div>
        </div>
    </div>

{% endblock %}
