{% extends 'base.html.twig' %}

{% block title %}Lesson Update{% endblock %}

{% block body %}
    <h1>Lesson Update</h1>

    <span>Fields with a</span> <span class="text-danger"> * </span> <span>are required.</span>
    {{ form_start(UpdateLessonForm) }}
        {{ form_row(UpdateLessonForm.title) }} <span class="text-danger">*</span>
        {{ form_row(UpdateLessonForm.description) }}
        {{ form_row(UpdateLessonForm.contactInformation) }} <span class="text-danger">*</span>
        {{ form_row(UpdateLessonForm.availableDates) }} <span class="text-danger">*</span>
        {{ form_row(UpdateLessonForm.category) }}
        <button type="submit" class="btn">Update the lesson</button>
    {{ form_end(UpdateLessonForm) }}
{% endblock %}
