{% extends 'base.html.twig' %}

{% block title %}Lesson Update{% endblock %}

{% block body %}
    <h1>Lesson Update</h1>

    {{ form_start(UpdateLessonForm) }}
        {{ form_row(UpdateLessonForm.title) }}
        {{ form_row(UpdateLessonForm.description) }}
        {{ form_row(UpdateLessonForm.contactInformation) }}
        {{ form_row(UpdateLessonForm.availableDates) }}
        {{ form_row(UpdateLessonForm.category) }}
        <button type="submit" class="btn">Update the lesson</button>
    {{ form_end(UpdateLessonForm) }}
{% endblock %}
