<!DOCTYPE html>
<html>
    <div class="m-3 p-3 lessonCard">
        <div class="pb-2">
            <h4>{{lesson.getTitle()}}</h4>
        </div>
        <div class="pb-2">
            <span class="badge text-bg-primary">{{lesson.getCategory()}}</span>
        </div>
        <span>Tutor:</span>
        <a href="{{path('app_profile', {'id': lesson.getTeacherId.getId})}}">
            <span class="card-text">{{lesson.getTeacherId().getUserInfo().getUsername()}}</span>
        </a>
        <div class ="p-2">
            <div class=" pb-2">
                <span>Dates: </span>
                {% if lesson.getAvailableDates is not null %}
                    <span>{{lesson.getAvailableDates()}}</span>
                    {% else %}
                        <span>No specific date information was provided.</span>
                {% endif %}
            </div>
            <div class=" pb-2">
                <span>Location: </span>
                {% if lesson.getLocation is not null %}
                    <span>{{lesson.getLocation()}}</span>
                    {% else %}
                        <span>No specific location information was provided.</span>
                {% endif %}
            </div>  
        </div>  
        <div class="pt-3">
            <a href="{{path('app_lessonPage', {'id': lesson.getId})}}">
                <button type="button" class="btn btn-primary">View Lesson</button>
            </a>
        </div>

    </div>
</html>